.full {
  width: columns(12);
}

.half {
  width: columns(6);
}

.third {
  width: columns(4);
}

.two-thirds {
  width: columns(8);
}

.quarter {
  width: columns(3);
}

.post-outer {
  -webkit-flex: 0 0 49%;
  flex: 0 0 49%;
}
